.repoLink {
	text-decoration: none;
	color: inherit;
}
.repoLink:hover {
	text-decoration: underline;
}

body {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

	font-size: 1rem;
}
